body {
  background-color: #f2f3ff !important;
  color: #111111;
}

.w-45 {
  width: 45%;
}

.w-200 {
  width: 200px;
}

.w-30 {
  width: 30%;
}

.px-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.text-blue {
  color: #0b23f4 !important;
}

.text-pale-blue {
  color: #b6bdfc !important;
}

.text-red {
  color: #f4320b !important;
}

.text-pale-red {
  color: #fcc1b6 !important;
}

.text-label {
  font-size: 0.9rem;
  color: #707070;
}

.text-small {
  font-size: 0.9rem;
}

input {
  padding: 8px 10px;
  border-radius: 10px;
  border-color: #707070;
  border-width: 1px;
}

.h-20px {
  height: 20px;
}

a {
  color: #424242 !important;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #0b23f4 !important;
}

.active-link {
  color: #0b23f4 !important;
  text-decoration: underline !important;
}

.fs-7 {
  font-size: 0.9rem;
  line-height: 1rem;
}

.bottom-20 {
  bottom: 20px;
}

.right-20 {
  right: 20px;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 400 !important;
}

.bg-blue {
  background-color: #0b23f4 !important;
  color: white !important;
}

.bg-fade {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

.btn-primary {
  border: 2px #0b23f4 solid;
}
